*{
    font-family: 'Exo 2', sans-serif;
}

.small_header {
    background: #F5F5F5;
    height: 30px;
}

.address{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    padding-top: 5px;
}

.number{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    padding-top: 6px;
}

.site_title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #003164;
    padding-top: 8px;
    horiz-align: left;
}

nav > div:hover{
    color: #003164;
    text-decoration: underline;
}

nav > div{
    display: inline;
    justify-content: space-between;
    margin-right: 16px;
    font-weight: 700;
    font-size: 15px;
    color: #B0B0B0;
    text-decoration: none;
}

nav{
    padding-top: 20px;
    horiz-align: right;
}

header{
    height: 50px;
}